{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:tailwindcss/recommended",
    "prettier"
  ],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "no-console": 1,
    "prettier/prettier": 2
  },
  "overrides": [{
    "files": ["*.ts', '*.tsx', '*.js"],
    "parser": "@typescript-eslint/parser"
  }]
}