@import '../../styles/frostui.css';

.fc .fc-list-sticky .fc-list-day > * {
  background: none;
}

.fc .fc-list-event td {
  color: var(--primary) !important;
}

.fc .fc-list-event:hover td {
  background-color: var(--primary) / 0.7;
  backdrop-filter: blur(20px) saturate(200%);
  color: var(--secondary);
}

.frostui-view {
  background-color: var(--secondary) / 0.7;
  border-radius: 10px;
  border: none;
  backdrop-filter: blur(20px) saturate(200%);
  overflow: hidden;
}

.frostui-dayheader {
  background-color: var(--secondary);
  color: var(--primary);
}

.frostui-event {
  border: var(--border);
  cursor: pointer;
}

.frostui-nowindicator {
  border-color: var(--primary) / 0.9 !important;
}

.fc-list-day {
  background-color: var(--secondary) / 0.9 !important;
  color: var(--primary);
}

.fc-event-main-frame {
  color: var(--primary-foreground) !important;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: var(--secondary) / 0.7;
}

.fc-day-today.fc-timegrid-col.frostui-daycell {
  background-color: var(--secondary) / 0.7;
}

.fc .fc-bg-event {
  background-image: repeating-linear-gradient(45deg, var(--muted-foreground) 20%, var(--muted) 30%);
  color: var(--primary);
  text-overflow: hidden;
}

.fc-event-main {
  overflow: hidden;
}
